{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "quoteProps": "as-needed"
}
